
.widget {
	width: 231px;
	margin-bottom: 15px;
}
.widget .widget-header {
	width: 231px;
	height: 34px;
	text-align: center;
}
.widget .widget-header h3 {
	padding-top: 4px;
	tfont-size: 21px;
	font-weight: normal;
	color: #fff;
}
.widget .widget-content {
	font-size: 13px;
}
.widget .widget-footer {
	width: 231px;
	height: 0px;
}
.widget .item {
	display: block;
}


/* Блоки в шапке */

.format1 {
	float: left;
	width: 245px;
	height: 170px;
	color: #000;
	margin: 0;
}
.format1 .widget-content {
	padding: 8px 8px;
	font-size: 12px;
}
.format1 h3 a {
	color: #000;
	font-size: 13px;
	font-weight: normal;
	text-decoration: underline;
}
.format1 .widget-content span, .format1 .widget-content span a {
	font-size: 11px;
	color: #222;
}


/* Сайдбар */

/* Виджет */
.sblock0 {
	width: 250px;
	margin-bottom: 6px;
	font-size: 12px;
	background: url("/images/sblock0-repeat.jpg") repeat-y left top;
	tbackground: #E0EEF7;
	tborder: 1px solid #95BBD6;
}

.sblock0-color1 { tbackground: #FDF0F9; }
.sblock0-color2 { tbackground: #FDF6FB; }

.sblock0-z1 {
	background: url("/images/sblock0-bottom.jpg") no-repeat left bottom;
}
.sblock0-z2 {
	background: url("/images/sblock0-top.jpg") no-repeat left top;
}
.sblock0 .widget-header  {
	height: 28px;
	tmargin: 3px 3px;
	tborder-bottom: 1px dotted #B21782;
	tbackground: #9AC8E8;
}
.sblock0 .widget-header h3 {
	padding: 11px 0;
	font-size: 16px;
	font-weight: normal;
	line-height: 10px;
	color: #fff;
	text-align: center;
}
.sblock0 .widget-content {
	padding: 4px 8px 8px 0px;
}
.sblock0 .widget-content h3 a {
	font-size: 12px;
}
.sblock0 .item {
	tfloat: left;
	margin-top: 2px;
}


/* Виджет */
.sblock1 {
	width: 250px;
	margin-bottom: 6px;
	font-size: 12px;
	background: url("/images/sblock1-repeat.jpg") repeat-y left top;
	tbackground: #E0EEF7;
	tborder: 1px solid #95BBD6;
}

.sblock1-color1 { tbackground: #FDF0F9; }
.sblock1-color2 { tbackground: #FDF6FB; }

.sblock1-z1 {
	background: url("/images/sblock1-bottom.jpg") no-repeat left bottom;
}
.sblock1-z2 {
	background: url("/images/sblock1-top.jpg") no-repeat left top;
}
.sblock1 .widget-header  {
	tpadding-top: 8px;
	height: 36px;
	tmargin: 3px 3px;
	tborder-bottom: 1px dotted #B21782;
	tbackground: #9AC8E8;
}
.sblock1 .widget-header h3 {
	padding: 11px 0px;
	font-size: 16px;
	font-weight: normal;
	line-height: 12px;
	color: #200;
	text-align: center;
}
.sblock1 .widget-content {
	padding: 3px 8px 6px 5px;
}
.sblock1 .widget-content h3 a {
	font-size: 12px;
}
.sblock1 .item {
	tfloat: left;
	margin-top: 2px;
}


/* Виджет 2 */
.sblock3 {
	width: 250px;
	margin-bottom: 6px;
	font-size: 12px;
	background: url("/images/sblock1-repeat.jpg") repeat-y left top;
	tbackground: #E0EEF7;
	tborder: 1px solid #95BBD6;
}

.sblock3-color1 { tbackground: #FDF0F9; }
.sblock3-color2 { tbackground: #FDF6FB; }

.sblock3-z1 {
	background: url("/images/sblock1-bottom.jpg") no-repeat left bottom;
}
.sblock3-z2 {
	background: url("/images/sblock1-top.jpg") no-repeat left top;
}
.sblock3 .widget-header  {
	tpadding-top: 8px;
	height: 30px;
	tmargin: 3px 3px;
	tborder-bottom: 1px dotted #B21782;
	tbackground: #9AC8E8;
}
.sblock3 .widget-header h3 {
	padding: 8px 0;
	font-size: 16px;
	font-weight: normal;
	line-height: 12px;
	color: #fff;
	text-align: center;
}
.sblock3 .widget-content {
	padding: 4px 8px 6px 5px;
}
.sblock3 .widget-content h3 a {
	font-size: 12px;
}
.sblock3 .item {
	tfloat: left;
	margin-top: 2px;
}


.sblock1 .widget-content li, .sblock3 .widget-content li {
	margin-left: 16px;
}


/* реклама adsense */
.sblock2 {
	margin-bottom: 6px;
	width: 250px;
	height: 250px;
	tbackground: url("/images/adsense250.gif") no-repeat center top;
}

/* реклама баннер */
.sblock4 {
	margin-bottom: 6px;
	width: 250px;
	height: 400px;
	tbackground: url("/images/ad240x400.jpg") no-repeat center top;
}


/*
	Блок контента
*/

.content1 { float: left; width: 730px; margin-bottom: 8px; tborder: 1px solid #EAEBE3; }

.content1 .block-header { color: #CFC1AE; height: auto; margin: 0px 10px; tborder-top: 1px dotted #CFC1AE; tborder-bottom: 1px dotted #CFC1AE; }
.content1 .block-header h1, .content1 .block-header h3  { padding: 7px 0px; }
.content1 .block-header h1, .content1 .block-header h3, .content1 .block-header h3 a{ font-size: 14px; line-height: 21px; font-weight: normal; color: #000; }

.content1 .block-content { tmargin-top: 4px; padding: 4px 12px 5px 12px; font-size: 12px; }
.content1 .block-content h1 { font-size: 19px; font-weight: normal; padding: 6px 0 2px 0; }
.content1 .block-content h3 { font-size: 16px; font-weight: normal; padding: 6px 0; }

.content1 ol, .content1 ul {
	margin-bottom: 12px;
}

.content1 li {
	margin-left: 16px;
}
.content1 p {
	margin-top: -8px;
	margin-bottom: 12px;
}

.content1 .block-footer { padding: 0px 8px 10px 8px; }
.content1 .block-footer .left { float: left; }
.content1 .block-footer .right { float: right; }

.content1 .block-footer-z1 {
	height: 11px;
	padding: 5px 0px 0px 0px;
	font-size: 11px;
	tcolor: #916B30;
}
.content1 .block-footer-z1 a { tcolor: #916B30; }


.content1-color1 {
	tbackground: #ECDEE6;
}
.content1-color1 .content1-z1 {
	background: url("/images/content11-repeat.jpg") repeat-y left top;
}
.content1-color1 .content1-z2 {
	background: url("/images/content11-bottom.jpg") no-repeat left bottom;
}
.content1-color1 .content1-z3 {
	background: url("/images/content11-top.jpg") no-repeat left top;
}
.content1-color1 .content1-z4 {}

.content1-color2 {
	tbackground: #F4EDF1;
}
.content1-color2 .content1-z1 {
	background: url("/images/content11-repeat.jpg") repeat-y left top;
}
.content1-color2 .content1-z2 {
	background: url("/images/content11-bottom.jpg") no-repeat left bottom;
}
.content1-color2 .content1-z3 {
	background: url("/images/content11-top.jpg") no-repeat left top;
}
.content1-color2 .content1-z4 {}



.content1 .content1-color1 .block-header {
	border-bottom: 1px solid #DEC5B7;
}
.content1 .content1-color1 .block-footer-z1 {
	border-top: 1px solid #DEC5B7;
	color: #825C48;
}
.content1 .content1-color1 .block-footer-z1 a {
	color: #825C48;
}


.content1 .content1-color2 .block-header {
	border-bottom: 1px solid #DEC5B7;
}
.content1 .content1-color2 .block-footer-z1 {
	border-top: 1px solid #DEC5B7;
	color: #825C48;
}
.content1 .content1-color2 .block-footer-z1 a{
	color: #825C48;
}




/* Похожие статьи */
.format-related {
	float: left;
	width: 242px;
	font-size: 12px;
}
.format-related .format-content {
	padding: 0px 2px;
}
.format-related .format-content h3 {
	margin: 4px 0 0 0;
	padding: 0;
}



/* Блок предпросмотра фото и видео */

.content2 { float: left; width: 230px; margin: 0 5px 0 5px; }

.content2 .block-header  {  }
.content2 .block-header span, .content2 .block-header span a { font-size: 11px; color: #59463B; }

.content2 .block-footer  {  }
.content2 .block-footer span, .content2 .block-footer span a { font-size: 11px; color: #59463B; }

.content2 .block-content { padding: 6px 0; }


/* Прочее */

.row720 {
	float: left;
	width: 720px;
	font-size: 12px;
}