
/* Формат коммента */

.cd-format1 { width: 712px; margin-bottom: 6px; }
.cd-format1 .widget-header { line-height: 25px; font-size: 12px; color: #855E3E; }
.cd-format1 .widget-header span{ text-decoration: underline; color: #855E3E; }
.cd-format1 .widget-content { padding: 4px 0 8px 0; }
.cd-format1 .widget-footer { border-bottom: 1px dotted #855E3E; }
.cd-format1 .color1 {}
.cd-format1 .color2 {}

.commentform {
	padding: 4px;
	width: 702px;
	border: 1px solid #e3e3e3;
	background-color: #fff;
}
.input {
	margin: 4px 4px 4px 2px;
	border: 1px solid #e3e3e3;
	background-color: #fff;
	width: 200px;
}
.textarea {
	margin: 4px 4px;
	border: 1px solid #e3e3e3;
	background-color: #fff;
	width: 693px;
	height: 150px;
}
.submit {
	margin: 4px 4px;
	padding: 2px;
	border: 1px solid #e3e3e3;
	background-color: #fff;
	width: 92px;
}