#wpadminbar
*{height:auto;width:auto;margin:0;padding:0;position:static;text-transform:none;letter-spacing:normal;line-height:1}#wpadminbar :before,#wpadminbar :after{content:normal}#wpadminbar a,#wpadminbar a:hover,#wpadminbar a img,#wpadminbar a img:hover{outline:none;border:none;text-decoration:none;background:none}#wpadminbar{direction:ltr;background-color:#777;background-image:-moz-linear-gradient(bottom,#666,#7f7f7f);background-image:-webkit-gradient(linear,left bottom,left top,from(#666),to(#7f7f7f));color:#ddd;font:normal 12px/28px Arial,Helvetica,sans-serif;height:28px;position:fixed;top:0;left:0;width:100%;z-index:99999;min-width:960px}#wpadminbar ul,#wpadminbar ul
li{background:none;list-style:none;margin:0;padding:0;position:relative;z-index:99999}#wpadminbar .quicklinks
ul{text-align:left}#wpadminbar .quicklinks ul
li{float:left}#wpadminbar .quicklinks>ul>li>a{border-right:1px solid #686868;border-left:1px solid #808080}#wpadminbar .quicklinks>ul>li:last-child>a{border-right:none}#wpadminbar .quicklinks>ul>li:hover>a{border-left-color:#707070}#wpadminbar .quicklinks a,#wpadminbar .shortlink-input{color:#ddd;height:28px;text-shadow:#555 0 -1px 0;display:block;font:normal 13px/28px Arial,Helvetica,sans-serif;padding:0
.85em;margin:0}#wpadminbar .quicklinks a>span{line-height:28px}#wpadminbar .quicklinks .menupop ul,#wpadminbar .shortlink-input{-moz-box-shadow:0 4px 8px rgba(0,0,0,0.1);-webkit-box-shadow:0 4px 8px rgba(0,0,0,0.1);box-shadow:0 4px 8px rgba(0,0,0,0.1);background:#fff;background:rgba(255,255,255,0.97);display:none;position:absolute;border:1px
solid #dfdfdf;border-top:none;float:none}#wpadminbar .selected .shortlink-input{display:block}#wpadminbar .quicklinks .menupop ul
li{float:none}#wpadminbar .quicklinks .menupop ul li a,#wpadminbar .shortlink-input{color:#555;text-shadow:none;white-space:nowrap;min-width:140px}#wpadminbar .shortlink-input{width:200px}#wpadminbar .quicklinks .menupop ul li:hover>a{color:#fff;text-shadow:#666 0 -1px 0}#wpadminbar .quicklinks li:hover>ul,#wpadminbar .quicklinks li.hover>ul{display:block}#wpadminbar .quicklinks .menupop li:hover>ul,#wpadminbar .quicklinks .menupop li.hover>ul{margin-left:100%;margin-top:-28px}#wpadminbar .quicklinks li:hover,#wpadminbar .quicklinks
.selected{background:#555;background:-moz-linear-gradient(bottom,#555,#3e3e3e);background:-webkit-gradient(linear,left bottom,left top,from(#555),to(#3e3e3e))}#wpadminbar .quicklinks .menupop li:hover{background:#888;background:-moz-linear-gradient(bottom,#888,#9d9d9d);background:-webkit-gradient(linear,left bottom,left top,from(#888),to(#9d9d9d))}#wpadminbar .quicklinks .menupop a>span{display:inline;background:url(http://www.world-tours.su/wp-includes/css/../images/admin-bar-sprite.png?d=11122010) right -58px no-repeat;padding-right:.8em}#wpadminbar .quicklinks .menupop ul li a>span{display:block;background:url(http://www.world-tours.su/wp-includes/css/../images/admin-bar-sprite.png?d=11122010) right -29px no-repeat;padding-right:1.5em}#wpadminbar .quicklinks a span#ab-awaiting-mod,#wpadminbar .quicklinks a span#ab-updates{background:#eee;color:#333;text-shadow:none;display:inline;padding:2px
5px;font-size:10px;font-weight:bold;-moz-border-radius:10px;-khtml-border-radius:10px;-webkit-border-radius:10px;border-radius:10px}#wpadminbar .quicklinks a:hover span#ab-awaiting-mod,#wpadminbar .quicklinks a:hover span#ab-updates{background:#fff;color:#000}#wpadminbar .quicklinks li#wp-admin-bar-my-account>a{border-left:none}#wpadminbar .quicklinks li#wp-admin-bar-my-account-with-avatar>a{border-left:none;background:url(/images/admin-bar-sprite.png?d=11122010) top left no-repeat}#wpadminbar .quicklinks li#wp-admin-bar-my-account-with-avatar>a
img{width:16px;height:16px;display:inline;border:1px
solid #999;vertical-align:middle;margin:-2px 23px 0 -5px;padding:0;background:#eee;float:none}#wpadminbar .quicklinks li#wp-admin-bar-my-account-with-avatar
ul{left:30px}#wpadminbar .quicklinks li#wp-admin-bar-my-account-with-avatar ul
ul{left:0}#wpadminbar .quicklinks .menupop li a
img.blavatar{vertical-align:middle;margin:0
8px 0 0;padding:0}#wpadminbar
#adminbarsearch{float:right;height:18px;padding:3px;margin:0}#wpadminbar #adminbarsearch .adminbar-input{width:140px;height:auto;float:left;font:12px Arial,Helvetica,sans-serif;color:#555;text-shadow:0 1px 0 #fff;border:1px
solid #626262;padding:2px
3px;margin:0
3px 0 0;background:#ddd;-moz-box-shadow:inset 2px 2px 1px #cdcdcd;-webkit-box-shadow:inset 2px 2px 1px #cdcdcd;box-shadow:inset 2px 2px 1px #cdcdcd;-webkit-border-radius:0;-khtml-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;outline:none}#wpadminbar #adminbarsearch .adminbar-button{font:bold 12px Arial,Helvetica,sans-serif;color:#444;text-shadow:0 1px 0 #eee;cursor:pointer;float:left;background:#aaa;background:-moz-linear-gradient(bottom,#aaa,#cecece);background:-webkit-gradient(linear,left bottom,left top,from(#aaa),to(#cecece));-webkit-border-radius:10px;-khtml-border-radius:10px;-moz-border-radius:10px;border-radius:10px;border:1px
solid #626262;padding:2px
13px;margin:0;width:auto;height:auto}#wpadminbar #adminbarsearch .adminbar-button:active{background:#a0a0a0;background:-moz-linear-gradient(bottom,#a0a0a0,#c1c1c1);background:-webkit-gradient(linear,left bottom,left top,from(#a0a0a0),to(#c1c1c1));-moz-box-shadow:inset 1px 1px 1px #9b9b9b;-webkit-box-shadow:inset 1px 1px 1px #9b9b9b;box-shadow:inset 1px 1px 1px #9b9b9b}#wpadminbar #adminbarsearch .adminbar-button:hover{color:#000}#wpadminbar #adminbarsearch .adminbar-button::-moz-focus-inner{border:none}* html
#wpadminbar{overflow:hidden;position:absolute}* html #wpadminbar .quicklinks ul li
a{float:left}* html #wpadminbar .menupop a
span{background-image:none}.wp-polls-archive{}.wp-polls,.wp-polls-form{}.wp-polls ul li, .wp-polls-ul li, .wp-polls-ans ul
li{text-align:left;background-image:none;display:block}.wp-polls ul, .wp-polls-ul, .wp-polls-ans
ul{text-align:left;list-style:none;float:none}.wp-polls ul li:before, .wp-polls-ans ul li:before, #sidebar ul ul li:before{content:''}.wp-polls IMG, .wp-polls LABEL , .wp-polls INPUT, .wp-polls-loading IMG, .wp-polls-image
IMG{display:inline;border:0px;padding:0px;margin:0px}.wp-polls-ul{padding:0px;margin:0px
0px 10px 10px}.wp-polls-ans{width:100%;filter:alpha(opacity=100);-moz-opacity:1;opacity:1}.wp-polls-loading{display:none;text-align:center;height:16px;line-height:16px}.wp-polls-image{border:0px}.wp-polls
.Buttons{border:1px
solid #c8c8c8;background-color:#f3f6f8}.wp-polls-paging a, .wp-polls-paging a:link{padding:2px
4px 2px 4px;margin:2px;text-decoration:none;border:1px
solid #06c;color:#06c;background-color:#FFF}.wp-polls-paging a:visited{padding:2px
4px 2px 4px;margin:2px;text-decoration:none;border:1px
solid #06c;color:#06c;background-color:#FFF}.wp-polls-paging a:hover{border:1px
solid #000;color:#000;background-color:#FFF}.wp-polls-paging a:active{padding:2px
4px 2px 4px;margin:2px;text-decoration:none;border:1px
solid #06c;color:#06c;background-color:#FFF}.wp-polls-paging
span.pages{padding:2px
4px 2px 4px;margin:2px
2px 2px 2px;color:#000;border:1px
solid #000;background-color:#FFF}.wp-polls-paging
span.current{padding:2px
4px 2px 4px;margin:2px;font-weight:bold;border:1px
solid #000;color:#000;background-color:#FFF}.wp-polls-paging
span.extend{padding:2px
4px 2px 4px;margin:2px;border:1px
solid #000;color:#000;background-color:#FFF}#myGallery{z-index:5}#flickrGallery{width:500px;height:334px}#myGallery img.thumbnail, #myGallerySet
img.thumbnail{display:none}.jdGallery{overflow:hidden;position:relative}.jdGallery
img{border:0;margin:0}.jdGallery
.slideElement{width:100%;height:100%;background-color:#000;background-repeat:no-repeat;background-position:center center;background-image:url(/images/loading-bar-black.gif)}.jdGallery
.slideInfoZone{position:absolute;z-index:10;width:100%;margin:0px;left:0;bottom:0;background:#000;color:#fff;text-indent:0;overflow:hidden}.jdGallery .slideInfoZone
h2{border:0
!important;font-weight:bold !important;background:none !important}.jdGallery
.loadingElement{width:100%;height:100%;position:absolute;left:0;top:0;background-color:#000;background-repeat:no-repeat;background-position:center center;background-image:url(/images/loading-bar-black.gif)}* html .jdGallery
.slideInfoZone{bottom: -1px}.jdGallery
div.carouselContainer{position:absolute;height:135px;width:100%;z-index:10;margin:0px;left:0;top:0}.jdGallery
a.carouselBtn{position:absolute;bottom:0;right:30px;height:20px;text-align:center;padding:0
10px;font-size:13px;background:#000;color:#fff;cursor:pointer}.jdGallery
.carousel{position:absolute;width:100%;margin:0px;left:0;top:0;height:115px;background:#000;color:#fff;text-indent:0;overflow:hidden}.jdExtCarousel{overflow:hidden;position:relative}.jdGallery .carousel .carouselWrapper, .jdExtCarousel
.carouselWrapper{position:absolute;width:100%;height:78px;top:10px;left:0;overflow:hidden}.jdGallery .carousel .carouselInner, .jdExtCarousel
.carouselInner{position:relative}.jdGallery .carousel .carouselInner .thumbnail, .jdExtCarousel .carouselInner
.thumbnail{cursor:pointer;background:#000;background-position:center center;float:left;border:solid 1px #fff}.jdGallery .wall .thumbnail, .jdExtCarousel .wall
.thumbnail{margin-bottom:10px}.jdGallery .carousel .label, .jdExtCarousel
.label{font-size:13px;position:absolute;bottom:5px;left:10px;padding:0;margin:0}.jdGallery .carousel .wallButton, .jdExtCarousel
.wallButton{font-size:10px;position:absolute;bottom:5px;right:10px;padding:1px
2px;margin:0;background:#222;border:1px
solid #888;cursor:pointer}.jdGallery .carousel .label .number, .jdExtCarousel .label
.number{color:#b5b5b5}.jdGallery
a{font-size:100%;text-decoration:none;color:inherit}.jdGallery a.right, .jdGallery
a.left{position:absolute;height:99%;width:25%;cursor:pointer;z-index:10;filter:alpha(opacity=20);-moz-opacity:0.2;-khtml-opacity:0.2;opacity:0.2}* html .jdGallery a.right, * html .jdGallery
a.left{filter:alpha(opacity=50)}.jdGallery a.right:hover, .jdGallery a.left:hover{filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8}.jdGallery
a.left{left:0;top:0;background:url(/images/fleche1.png) no-repeat center left}* html .jdGallery
a.left{background:url(/images/fleche1.gif) no-repeat center left}.jdGallery
a.right{right:0;top:0;background:url(/images/fleche2.png) no-repeat center right}* html .jdGallery
a.right{background:url(/images/fleche2.gif) no-repeat center right}.jdGallery
a.open{left:0;top:0;width:100%;height:100%}.withArrows
a.open{position:absolute;top:0;left:25%;height:99%;width:50%;cursor:pointer;z-index:10;background:none;-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8}.jdGallery
a.gallerySelectorBtn{z-index:15;position:absolute;top:0;left:30px;height:20px;text-align:center;padding:0
10px;font-size:13px;background:#333;color:#fff;cursor:pointer;opacity: .4;-moz-opacity: .4;-khtml-opacity:0.4;filter:alpha(opacity=40)}.jdGallery
.gallerySelector{z-index:20;width:100%;height:100%;position:absolute;top:0;left:0;background:#000}.jdGallery .gallerySelector
h2{margin:0;padding:10px
20px 10px 20px;font-size:20px;line-height:30px;color:#fff}.jdGallery .gallerySelector
.gallerySelectorWrapper{overflow:hidden}.jdGallery .gallerySelector .gallerySelectorInner
div.galleryButton{margin-left:10px;margin-top:10px;border:1px
solid #888;padding:5px;height:40px;color:#fff;cursor:pointer;float:left}.jdGallery .gallerySelector .gallerySelectorInner
div.hover{background:#333}.jdGallery .gallerySelector .gallerySelectorInner div.galleryButton
div.preview{background:#000;background-position:center center;float:left;border:none;width:40px;height:40px;margin-right:5px}.jdGallery .gallerySelector .gallerySelectorInner div.galleryButton
h3{margin:0;padding:0;font-size:12px;font-weight:normal}.jdGallery .gallerySelector .gallerySelectorInner div.galleryButton
p.info{margin:0;padding:0;font-size:12px;font-weight:normal;color:#aaa}*:first-child+html
.slideInfoZone{bottom: -1px}*:first-child+html .jdGallery a.right, *:first-child+html .jdGallery
a.left{filter:alpha(opacity=20)}*:first-child+html .jdGallery a.right:hover, *:first-child+html .jdGallery a.left:hover{filter:alpha(opacity=80)}*:first-child+html .jdGallery
a.left{background:url(/images/fleche1.png) no-repeat center left}*:first-child+html .jdGallery
a.right{background:url(/images/fleche2.png) no-repeat center right}.imageElement{visibility:hidden}#myGallery,#myGallerySet,#flickrGallery{background:#000 url('/images/loading-bar-black.gif') no-repeat center;border:0px
solid #000;height:300px;width:480px}.jdGallery
.slideInfoZone{background-color:#000 !important;height:36px}.jdGallery .slideInfoZone
h2{color:#FFF !important;font-size:12px !important;font-weight:bold !important;margin:2px
5px !important;padding:0px
0px !important}.jdGallery .slideInfoZone
p{color:#FFF !important;font-size:11px !important;line-height:14px !important;margin:2px
5px !important;padding:0px
0px !important}.jdGallery .slideInfoZone p a, .jdGallery .slideInfoZone p a:link, .jdGallery .slideInfoZone p a:visited{color:#FFF !important;font-weight:normal !important}.jdGallery .slideInfoZone p a:hover{color:#FFF !important;font-weight:bold !important}.jdGallery
.slideElement{background-color:#000}.wp-polls
.pollbar{margin:1px;font-size:6px;line-height:8px;height:8px;background-image:url('/images/default/pollbg.gif');border:1px
solid #c8c8c8}#wpadminbar{display:none}
*{border:0;margin:0;padding:0}body{font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;text-align:center;background:#fff}h2{margin:0px
0 6px 4px;font-size:17px;font-weight:normal}a{color:#000}h3
a{font-size:13px;font-weight:bold;text-decoration:none;color:#000}.more,.more:visited{padding:4px
4px 0 0;font-size:12px;font-weight:bold;color:#311E0D}.background{float:left;width:100%;background:url(/images/bg.jpg) repeat left top}.background-z1{float:left;width:100%;background:url(/images/bg-repeat.jpg) repeat-y center top}.background-z2{float:left;width:100%;background:url(/images/bg-top.jpg) no-repeat center top}.background-z3{float:left;width:100%;background:url(/images/bg-bottom.jpg) no-repeat center bottom}.workspace{margin:0
auto;width:1010px;height:auto;text-align:left}.workspace-z1{tmargin-left:20px;width:1010px}.head{float:left;width:1010px;height:160px;tbackground:url(/images/header.jpg) no-repeat left top;padding:0
10px}.head0{float:left;width:990px;height:0px}.head1{float:left;width:990px;height:96px}.head2{float:left;width:990px;height:44px}.headlink{display:block;position:relative;float:left;left: -10px;top:50px;width:180px;height:70px;text-decoration:none}.allcontent{float:left;width:1010px;overflow:hidden;tmargin-top:8px;tbackground:#FFF url(/images/footer.jpg) no-repeat left bottom;tpadding-top:8px}.allcontent-z1{width:990px;margin-left:10px}.isc{float:left;width:990px}.footer{float:left;width:990px;height:60px}.footer
a{color:#000}.footer
p{font-size:12px;color:#000}.footer
.tdcopyright{width:300px;height:62px;text-align:left}.footer
.tdmenu{width:600px;height:62px;text-align:left}.footer
.tdcounter{width:90px;height:62px;text-align:right}.hr{float:left;width:990px;height:20px}.a_more{padding-bottom:1px;color:#C85151;text-decoration:none;border-bottom:1px dotted}.a_more:hover{border-bottom:0}.hadsense728{float:left;margin:5px
0 0 5px;width:728px;height:90px;tbackground:url(/images/adsense728.gif) no-repeat left top}.adsense728{float:left;margin-bottom:8px;width:728px;height:90px;tbackground:url(/images/adsense728.gif) no-repeat left top}.dcg{float:left;width:480px;height:300px;background:#eee url(/images/gallery_1.jpg) no-repeat left top;margin-bottom:2px}.hblock{float:left;background:url(/images/img03.png) repeat-x left top}.hblock-z1{background:url(/images/img01.png) no-repeat left top}.hblock-z2{background:url(/images/img02.png) no-repeat right top}.hblock .block-header{tpadding:5px
4px 5px 0px;height:22px;tborder:1px
solid #F4D0DE;tborder-bottom:1px solid #A72456;tbackground:#FEF5F8}.hblock .block-header
h2{margin:0;padding:1px
7px 0 7px;line-height:20px;font-size:14px;font-weight:normal;color:#fff}.hblock .block-content{float:left;padding:0px
2px}.hblock
.hformat{float:left;color:#000}.hblock .hformat .widget-content{padding:2px
4px;font-size:12px}.hblock .hformat h3
a{color:#313131;font-size:13px;font-weight:normal;text-decoration:underline}.hblock .hformat .widget-content span, .hblock .hformat .widget-content span
a{font-size:11px;color:#222}.hblock0{margin:0px
0px 0px 10px;width:180px}.hblock0
.hformat{margin:2px
0px;padding-bottom:3px;width:180px;border-bottom:1px dotted #491E59}.hblock0 .hformat .widget-content{padding:0}.hblock1{margin:0px
10px 0px 0px;width:240px}.hblock1
.hformat{margin:3px
0px;padding-bottom:0px;tborder-bottom:1px dotted #E3727F;width:240px}.hblock1 .hformat .widget-content{padding:0}.hblock2{margin:1px
0 6px 0;width:730px;height:90px;background:url(/images/adsense728.gif) no-repeat center top}.hblock2 .block-content{padding:0px
1px}.hblock2-2{margin:0px
0 10px 0;width:480px;height:322px;tbackground:url(/images/adsense728.gif) no-repeat center top}.hblock2-2 .block-content{padding:4px
0px 0 0px}.hblock3{margin:0px
0px 0px 0px;width:730px}.hblock3
.hformat{margin:2px
0px;padding-right:3px;padding-bottom:3px;width:243px}.hblock3 .hformat .widget-content{padding:0}.hblock4{margin:0px
0px 4px 0px;width:730px}.hblock4
.hformat{margin:2px
0px;tpadding-right:3px;tpadding-bottom:3px;width:181px}.hblock4 .hformat .widget-content{padding:0}.hblock42{margin:4px
0px 4px 0px;width:730px}.hblock42
.hformat{margin:2px
0px;tpadding-right:3px;tpadding-bottom:3px;width:181px}.hblock42 .hformat .widget-content{padding:0}.hblock5{margin:0px
10px 4px 0px;width:360px}.hblock5
.hformat{margin:2px
0px;tpadding-right:3px;tpadding-bottom:3px;width:360px}.hblock5 .hformat .widget-content{padding:0}.hblock7{float:left;margin:4px
0 9px 0;width:535px;background:#F5ECF9;border:1px
solid #BB80D5;padding-left:3px}.hblock7-z1{tfloat:left;tbackground:url(/images/images_19.jpg) no-repeat left top}.hblock7-z2{}.hblock7 .block-content{padding:0px
2px}.hblock7
.hformat{float:left;width:173px;margin:4px
0px 6px 4px}.hblock7 .hformat  .widget-header{}.hblock7 .hformat  .widget-header h3
a{color:#55226D;font-size:13px;font-weight:normal}.hblock7 .hformat  .widget-header span, .hblock7 .hformat  .widget-header span
a{font-size:11px;color:#7C4E90}.hblock7 .hformat  .widget-footer{}.hblock7 .hformat  .widget-footer span, .hblock7 .hformat  .widget-footer span
a{font-size:11px;color:#7C4E90}.hblock7 .hformat  .widget-content{padding:6px
0}.icontent{float:left;tmargin-top:10px;width:730px}.icontent-z1{width:730px}.isidebar{float:left;margin-left:10px;width:250px}.bmenu{width:990px;height:44px;z-index:900}.bmenu-z1{position:relative;margin-left:250px;width:740px;height:44px;z-index:910}ul#menu-main{tfloat:right}ul#menu-main
li{float:left;twidth:105px;height:44px;list-style:none;text-align:center}ul#menu-main li.menu-item-2846{background:none}ul#menu-main li
a{display:block;padding-left:26px;padding-right:4px;twidth:105px;height:44px;line-height:44px;font-size:14px;font-weight:normal;text-decoration:none;color:#fff}ul#menu-main li a:hover{text-decoration:underline;color:#ddd}#menu-main li.current-menu-item, #menu-main li.current-post-ancestor, #menu-main li.current-category-ancestor, #menu-main li.current-menu-parent, #menu-main li.current-post-parent{}#menu-main li.current-menu-item a, #menu-main li.current-post-ancestor a, #menu-main li.current-category-ancestor a, #menu-main li.current-menu-parent a, #menu-main li.current-post-parent
a{color:#fff;text-decoration:underline}#menu-main li.current-menu-item a:hover, #menu-main li.current-post-ancestor a:hover, #menu-main li.current-category-ancestor a:hover, #menu-main li.current-menu-parent a:hover, #menu-main li.current-post-parent a:hover{color:#ddd}ul#menu-main-1{tmargin-left: -12px}ul#menu-main-1
li{float:left;position:relative;theight:45px;list-style:none;text-align:center}ul#menu-main-1 li
a{display:block;padding:0
8px;theight:45px;tline-height:45px;font-size:12px;font-weight:normal;text-decoration:none;color:#000}ul#menu-main-1 li a:hover{text-decoration:underline;color:#222}#menu-articles-cats{margin-top:0px;margin-left:16px}#menu-articles-cats
li{tfloat:left;tdisplay:inline;margin:0;margin-left:13px;padding:0;font-size:15px;tline-height:26px;theight:26px;tlist-style-image:url(/images/img02.jpg);tlist-style-type:square;color:#421F51;background:url(/images/img03.jpg) repeat-x bottom left}#menu-articles-cats li
a{margin:0;margin-left:5px;padding:0;line-height:28px;theight:36px;font-size:15px;text-decoration:none;color:#000}#menu-catalog-cats
li{line-height:24px;height:24px}.loginblock{display:block;position:relative;float:right;padding:8px
20px 0 0}.loginblock span, .loginblock
a{font-size:12px;color:#000}.widget{width:231px;margin-bottom:15px}.widget .widget-header{width:231px;height:34px;text-align:center}.widget .widget-header
h3{padding-top:4px;tfont-size:21px;font-weight:normal;color:#fff}.widget .widget-content{font-size:13px}.widget .widget-footer{width:231px;height:0px}.widget
.item{display:block}.format1{float:left;width:245px;height:170px;color:#000;margin:0}.format1 .widget-content{padding:8px
8px;font-size:12px}.format1 h3
a{color:#000;font-size:13px;font-weight:normal;text-decoration:underline}.format1 .widget-content span, .format1 .widget-content span
a{font-size:11px;color:#222}.sblock0{width:250px;margin-bottom:6px;font-size:12px;background:url(/images/sblock0-repeat.jpg) repeat-y left top;tbackground:#E0EEF7;tborder:1px
solid #95BBD6}.sblock0-color1{tbackground:#FDF0F9}.sblock0-color2{tbackground:#FDF6FB}.sblock0-z1{background:url(/images/sblock0-bottom.jpg) no-repeat left bottom}.sblock0-z2{background:url(/images/sblock0-top.jpg) no-repeat left top}.sblock0 .widget-header{height:28px;tmargin:3px
3px;tborder-bottom:1px dotted #B21782;tbackground:#9AC8E8}.sblock0 .widget-header
h3{padding:11px
0;font-size:16px;font-weight:normal;line-height:10px;color:#fff;text-align:center}.sblock0 .widget-content{padding:4px
8px 8px 0px}.sblock0 .widget-content h3
a{font-size:12px}.sblock0
.item{tfloat:left;margin-top:2px}.sblock1{width:250px;margin-bottom:6px;font-size:12px;background:url(/images/sblock1-repeat.jpg) repeat-y left top;tbackground:#E0EEF7;tborder:1px
solid #95BBD6}.sblock1-color1{tbackground:#FDF0F9}.sblock1-color2{tbackground:#FDF6FB}.sblock1-z1{background:url(/images/sblock1-bottom.jpg) no-repeat left bottom}.sblock1-z2{background:url(/images/sblock1-top.jpg) no-repeat left top}.sblock1 .widget-header{tpadding-top:8px;height:36px;tmargin:3px
3px;tborder-bottom:1px dotted #B21782;tbackground:#9AC8E8}.sblock1 .widget-header
h3{padding:11px
0px;font-size:16px;font-weight:normal;line-height:12px;color:#200;text-align:center}.sblock1 .widget-content{padding:3px
8px 6px 5px}.sblock1 .widget-content h3
a{font-size:12px}.sblock1
.item{tfloat:left;margin-top:2px}.sblock3{width:250px;margin-bottom:6px;font-size:12px;background:url(/images/sblock1-repeat.jpg) repeat-y left top;tbackground:#E0EEF7;tborder:1px
solid #95BBD6}.sblock3-color1{tbackground:#FDF0F9}.sblock3-color2{tbackground:#FDF6FB}.sblock3-z1{background:url(/images/sblock1-bottom.jpg) no-repeat left bottom}.sblock3-z2{background:url(/images/sblock1-top.jpg) no-repeat left top}.sblock3 .widget-header{tpadding-top:8px;height:30px;tmargin:3px
3px;tborder-bottom:1px dotted #B21782;tbackground:#9AC8E8}.sblock3 .widget-header
h3{padding:8px
0;font-size:16px;font-weight:normal;line-height:12px;color:#fff;text-align:center}.sblock3 .widget-content{padding:4px
8px 6px 5px}.sblock3 .widget-content h3
a{font-size:12px}.sblock3
.item{tfloat:left;margin-top:2px}.sblock1 .widget-content li, .sblock3 .widget-content
li{margin-left:16px}.sblock2{margin-bottom:6px;width:250px;height:250px;tbackground:url(/images/adsense250.gif) no-repeat center top}.sblock4{margin-bottom:6px;width:250px;height:400px;tbackground:url(/images/ad240x400.jpg) no-repeat center top}.content1{float:left;width:730px;margin-bottom:8px;tborder:1px
solid #EAEBE3}.content1 .block-header{color:#CFC1AE;height:auto;margin:0px
10px;tborder-top:1px dotted #CFC1AE;tborder-bottom:1px dotted #CFC1AE}.content1 .block-header h1, .content1 .block-header
h3{padding:7px
0px}.content1 .block-header h1, .content1 .block-header h3, .content1 .block-header h3
a{font-size:14px;line-height:21px;font-weight:normal;color:#000}.content1 .block-content{tmargin-top:4px;padding:4px
12px 5px 12px;font-size:12px;min-height: 95px;}.content1 .block-content
h1{font-size:19px;font-weight:normal;padding:6px
0 2px 0}.content1 .block-content
h3{font-size:16px;font-weight:normal;padding:6px
0}.content1 ol, .content1
ul{margin-bottom:12px}.content1
li{margin-left:16px}.content1
p{padding-top: 10px;margin-bottom:12px}.content1 .block-footer{padding:0px
8px 10px 8px}.content1 .block-footer
.left{float:left}.content1 .block-footer
.right{float:right}.content1 .block-footer-z1{height:11px;padding:5px
0px 0px 0px;font-size:11px;tcolor:#916B30}.content1 .block-footer-z1
a{tcolor:#916B30}.content1-color1{tbackground:#ECDEE6}.content1-color1 .content1-z1{background:url(/images/content11-repeat.jpg) repeat-y left top}.content1-color1 .content1-z2{background:url(/images/content11-bottom.jpg) no-repeat left bottom}.content1-color1 .content1-z3{background:url(/images/content11-top.jpg) no-repeat left top}.content1-color1 .content1-z4{}.content1-color2{tbackground:#F4EDF1}.content1-color2 .content1-z1{background:url(/images/content11-repeat.jpg) repeat-y left top}.content1-color2 .content1-z2{background:url(/images/content11-bottom.jpg) no-repeat left bottom}.content1-color2 .content1-z3{background:url(/images/content11-top.jpg) no-repeat left top}.content1-color2 .content1-z4{}.content1 .content1-color1 .block-header{border-bottom:1px solid #DEC5B7}.content1 .content1-color1 .block-footer-z1{border-top:1px solid #DEC5B7;color:#825C48}.content1 .content1-color1 .block-footer-z1
a{color:#825C48}.content1 .content1-color2 .block-header{border-bottom:1px solid #DEC5B7}.content1 .content1-color2 .block-footer-z1{border-top:1px solid #DEC5B7;color:#825C48}.content1 .content1-color2 .block-footer-z1
a{color:#825C48}.format-related{float:left;width:242px;font-size:12px}.format-related .format-content{padding:0px
2px}.format-related .format-content
h3{margin:4px
0 0 0;padding:0}.content2{float:left;width:230px;margin:0
5px 0 5px}.content2 .block-header{}.content2 .block-header span, .content2 .block-header span
a{font-size:11px;color:#59463B}.content2 .block-footer{}.content2 .block-footer span, .content2 .block-footer span
a{font-size:11px;color:#59463B}.content2 .block-content{padding:6px
0}.row720{float:left;width:720px;font-size:12px}.cd-format1{width:712px;margin-bottom:6px}.cd-format1 .widget-header{line-height:25px;font-size:12px;color:#855E3E}.cd-format1 .widget-header
span{text-decoration:underline;color:#855E3E}.cd-format1 .widget-content{padding:4px
0 8px 0}.cd-format1 .widget-footer{border-bottom:1px dotted #855E3E}.cd-format1
.color1{}.cd-format1
.color2{}.commentform{padding:4px;width:702px;border:1px
solid #e3e3e3;background-color:#fff}.input{margin:4px
4px 4px 2px;border:1px
solid #e3e3e3;background-color:#fff;width:200px}.textarea{margin:4px
4px;border:1px
solid #e3e3e3;background-color:#fff;width:693px;height:150px}.submit{margin:4px
4px;padding:2px;border:1px
solid #e3e3e3;background-color:#fff;width:92px}.alignleft{float:left;margin:0px;margin-right:5px;margin-top:20px}.thumbnail{float:left;margin:0px;margin-right:5px;margin-top:5px}.border10px{border:10px
solid #997763}.border5px{border:5px
solid #997763}.border3px{border:3px
solid #997763}.border1px{background:#FAF7F5;border:1px
solid #613820;padding:3px}.border10px-1{border:10px
solid #997763}.border5px-1{border:5px
solid #997763}.border3px-1{border:3px
solid #997763}.border1px-1{background:#FAF7F5;border:1px
solid #613820;padding:3px}.border10px-2{border:10px
solid #997763}.border5px-2{border:5px
solid #997763}.border3px-2{border:3px
solid #997763}.border1px-2{background:#FAF7F5;border:1px
solid #613820;padding:3px}.pagenv{float:left}.pagenv-text{float:left;padding-left:4px;font-size:15px;font-weight:normal;line-height:17px}.pagenv-active{float:left;margin:0
2px 2px 0;padding:0;width:22px;font-size:13px;text-align:center;line-height:17px;border:1px
solid #003055;color:#003055}.pagenv-inactive{float:left;margin:0
2px 2px 0;padding:0;width:22px;font-size:13px;text-align:center;line-height:17px;border:1px
solid #446986;color:#446986;color:#446986}
#wp_page_numbers ul, #wp_page_numbers li, #wp_page_numbers a {
    background: none repeat scroll 0 0 white;
    border: medium none;
    font-family: Arial;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 12px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    word-spacing: 0;
}
#wp_page_numbers {
    background: none repeat scroll 0 0 white;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}
#wp_page_numbers ul {
    width: 100%;
}
#wp_page_numbers li {
    display: block;
    float: left;
    margin-bottom: 2px;
}
#wp_page_numbers a {
    border: 1px solid #BFBFBF;
    color: #333333;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding: 3px 5px;
}
#wp_page_numbers li a:hover {
    border-color: #BA0000;
}
#wp_page_numbers li.space {
    padding: 6px 2px;
}
#wp_page_numbers li.first_last_page {
    font-style: italic;
}
#wp_page_numbers li.active_page a {
    border-color: #0075B8;
}
#wp_page_numbers li.active_page a:hover {
    border-color: #BA0000;
    color: black;
    text-decoration: underline;
}
#wp_page_numbers li.page_info {
    border: 1px solid #BFBFBF;
    color: #666666;
    display: block;
    float: left;
    font-size: 11px;
    margin-right: 2px;
    padding: 3px 5px;
}
