
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SET CHARACTER SET utf8</p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM search_table ORDER BY id DESC LIMIT 0, 10</p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM site_modul WHERE `index` = '1' ORDER BY position ASC </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM site_modul WHERE active='1' AND inmenu='1' AND parent='0' ORDER BY position ASC </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM site_modul WHERE active='1' AND inmenu='1' AND parent='1' ORDER BY position ASC </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM site_modul WHERE active='1' AND inmenu='1' AND parent='2' ORDER BY position ASC </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM site_modul WHERE active='1' AND inmenu='1' AND parent='3' ORDER BY position ASC </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM site_modul WHERE active='1' AND inmenu='1' AND parent='4' ORDER BY position ASC </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM site_modul WHERE active='1' AND inmenu='1' AND parent='5' ORDER BY position ASC </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM site_modul WHERE active='1' AND inmenu='1' AND parent='6' ORDER BY position ASC </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM site_modul WHERE active='1' AND inmenu='1' AND parent='7' ORDER BY position ASC </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM genres WHERE active='1' ORDER BY position ASC </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM interview WHERE active = '1' LIMIT 0, 1</p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM interview_vopros WHERE id_interview = 1 AND active = '1' </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM films_tmp WHERE active='1' AND inmenu = '1' ORDER BY date DESC LIMIT 0, 6</p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM films_tmp WHERE active='1' AND populyar = '1' ORDER BY date DESC LIMIT 0, 4</p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM films_tmp WHERE active='1' AND inmenu <> '1' AND populyar <> '1' ORDER BY date DESC LIMIT 0, 4</p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT SUM(star) FROM films_stars WHERE id_film = 1461 </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT COUNT(*) FROM films_stars WHERE id_film = 1461 </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM genres WHERE `id_genre`='3' </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT SUM(star) FROM films_stars WHERE id_film = 1460 </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT COUNT(*) FROM films_stars WHERE id_film = 1460 </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM genres WHERE `id_genre`='1' </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT SUM(star) FROM films_stars WHERE id_film = 1459 </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT COUNT(*) FROM films_stars WHERE id_film = 1459 </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM genres WHERE `id_genre`='2' </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT SUM(star) FROM films_stars WHERE id_film = 1458 </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT COUNT(*) FROM films_stars WHERE id_film = 1458 </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM films_genre WHERE `id_film` = '1458' ORDER BY id_genre ASC </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM genres WHERE `id_genre`='2' </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM genres WHERE `id_genre`='2' </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT SUM(star) FROM films_stars WHERE id_film = 1457 </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT COUNT(*) FROM films_stars WHERE id_film = 1457 </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM films_genre WHERE `id_film` = '1457' ORDER BY id_genre ASC </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM genres WHERE `id_genre`='5' </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM genres WHERE `id_genre`='5' </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT SUM(star) FROM films_stars WHERE id_film = 1456 </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT COUNT(*) FROM films_stars WHERE id_film = 1456 </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM films_genre WHERE `id_film` = '1456' ORDER BY id_genre ASC </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM genres WHERE `id_genre`='2' </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM genres WHERE `id_genre`='2' </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT SUM(star) FROM films_stars WHERE id_film = 1455 </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT COUNT(*) FROM films_stars WHERE id_film = 1455 </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM films_genre WHERE `id_film` = '1455' ORDER BY id_genre ASC </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM genres WHERE `id_genre`='3' </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM genres WHERE `id_genre`='3' </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT SUM(star) FROM films_stars WHERE id_film = 1452 </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT COUNT(*) FROM films_stars WHERE id_film = 1452 </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM genres WHERE `id_genre`='4' </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT SUM(star) FROM films_stars WHERE id_film = 1451 </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT COUNT(*) FROM films_stars WHERE id_film = 1451 </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM genres WHERE `id_genre`='3' </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT SUM(star) FROM films_stars WHERE id_film = 1450 </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT COUNT(*) FROM films_stars WHERE id_film = 1450 </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM genres WHERE `id_genre`='4' </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT SUM(star) FROM films_stars WHERE id_film = 1449 </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT COUNT(*) FROM films_stars WHERE id_film = 1449 </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM genres WHERE `id_genre`='3' </p>
<p OnMouseOver="this.style.background='#eee';" OnMouseOut="this.style.background='#fff';">SELECT * FROM site_config WHERE param='footer' </p>

